* {
	scroll-behavior: smooth;
	margin:0;
	padding:0;
	/* border:1px solid black; */
}

#PageOne {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ae/ed/58/aeed58f8dd0b39fe8a673e1605606a9d.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;
	width:auto;
}
.container {
	padding:25px 25px 0 100px;
	display:flex;
	justify-content: space-between;
	margin-bottom:10px;
	vertical-align:middle;
}

#los-angeles-mountain-banner {
	text-align:center;
	font-size:60px;
	font-family:'Oswald';
	text-shadow:0 0 5px white;
	margin-left:150px;
}

#los-angeles-mountain-banner p:nth-child(2) {
	color:darkslategrey;
	text-shadow:0 0 5px white;
}

#los-angeles-mountain-banner p:nth-child(3) {
	font-size:45px;
	text-shadow:0 0 5px white;
}

.background-image {
	background-image: url("http://wallpapercave.com/wp/BLRG4Mn.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:74%;
	width:auto;
}

.schedule-img {
	/* background-image:url("https://upload.wikimedia.org/wikipedia/commons/0/01/Alp_mountains_covered_with_snow.jpg"); */
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:80px;
	height:85%;
}

#schedule {
	border: 1px solid white;
	background-color:white;
	opacity:0.9;
	padding:20px;
}

#schedule p:nth-child(1), #schedule p:nth-child(2), #schedule p:nth-child(3), #schedule p:nth-child(4), #schedule p:nth-child(5) {
	padding:10px;
}

#img-panel {
	background-color:darkslategrey;
	opacity:0.9;
	padding:30px;
	text-align:center;
}

h3.header1 {
	padding-right:20px;
	margin:0;
	padding-top:30px;
}

h3.header2 {
	float:left;
	padding-right:10px;
}

#first-text {
	font-size:30px;
	padding-top:250px;
}

#second-text {
	padding-top:25px;
	padding-bottom:20px;
	padding-left:50px;
	font-size:30px;
}

footer {
	background-color:darkslategrey;
	padding:5px;
	margin-top:60px;
}

.panel-imgs {
	height:100px;
	width:150px;
	margin:5px;
}

#pageThree {
	height:90%;
}

.sm-mountain {
	padding:20px;
	display:flex;
}

.sm-mountain img {
	margin-right:10px;
}

#los-angeles-mountains {
	display:inline-block;
	margin:0;
	padding:0;
	font-weight:700;
	letter-spacing:-1px;
	line-height:90%;
	font-family:"Open Sans Condensed";
	font-size:1.5em;
}

#footer-los-angeles-mountains {
	margin:0;
	padding:0;
	font-weight:700;
	letter-spacing:-1px;
	line-height:90%;
	font-family:"Open Sans Condensed";
	font-size:1.5em;
	color:slategray
}

#copyright {
	text-align:right;
	margin:auto 0;
	color:slategray;
	font-size:0.9em;
	font-weight:600;
	padding:20px;
}

.mountain-nav {
	height: 40px;
	width: 40px;
	border-radius: 100px;
	border:1px solid grey;
}

b {
	font-family:"Oswald";
	font-size:20px;
}

.mountain1 {
	font-size:1.5em;
	color:darkslategrey;
}

.mountain1:hover {
	text-decoration:underline;
	color:darkslategray;
}

.mountain2 {
	font-size:1.5em;
	color:grey;
}

a {
	text-decoration:none;
}

.mountain2:hover {
	text-decoration: underline;
	color:gray;
}

.footer-mountain-nav {
	height: 40px;
	width: 40px;
	border-radius: 100px;
	opacity:0.75;
}

 .mountains {
	background-color:darkslategrey;
	color:grey;
	padding-bottom:1px;
	padding-top:5px;
	height:auto;
	padding:20px;
}

.history-team1 {
	font-size:20px;
	color:white;
	font-weight:500;
	text-decoration:underline;
}

.history-team2 {
	font-size:20px;
	color:darkslategrey;
	font-weight:700;
	text-decoration:underline;
}

.active {
	background-color: grey;
	padding-right:20px;
	padding-left:20px;
	padding-top:33px;
	padding-bottom:22px;
	margin:20px;
}
.nonactive {
	margin:25px;
	text-decoration: none;
}

li {
	margin-right:40px;
	display:inline;
}

.history-team {
	text-align:center;
	padding:10px;
}

#stain {
	color: darkslategrey;
}

.growth {
	font-size:4.0em;
	letter-spacing:-5px;
	opacity:0.7;
	font-family:"Oswald";
	padding:5px;
}

.schedule-header {
	padding-top:10px;
	font-weight:bolder;
	letter-spacing:-2px;
	padding:10px;
}

@media (min-width: 1120px), (min-height: 630px) {
    body { background-size: auto; }
}
